body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f5f7fa;
}

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #fff;
  padding: 40px 50px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 380px;
  text-align: center;
}

.logo {
  font-size: 32px;
  margin-bottom: 10px;
}

.login-title {
  font-size: 26px;
  color: #333;
  margin-bottom: 5px;
}

.login-title span {
  color: #d32f2f;
}

.login-subtitle {
  color: #666;
  margin-bottom: 25px;
  font-size: 14px;
}

.form-group {
  text-align: left;
  margin-bottom: 18px;
}

label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #d32f2f;
}

.login-btn {
  width: 100%;
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-btn:hover {
  background-color: #b71c1c;
}

.signup-link {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

#signup {
  background: rgb(131, 191, 239);
  border-radius: 25%;
  color: #0a0a0a;
  font-weight: 500;
  cursor: pointer;
  padding: 2px 7px;
  font-size: 15px;
}

#signup:hover {
  text-decoration: underline;
}
